<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.notaso683473" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Notaso</name>
  <description>
       Conoce a tus profesores antes de llegar al salón.
       Notaso te ayuda a decidir que clase tomar y que profesor es mejor.
    </description>
  <author email="perez.jorge718@gmail.com" href="www.perezjl.com">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>