<div id="header-custom" class="row">
  <div id="burger-container">
    <hamburger></hamburger>
  </div>
  <h2 id="text-logo" style="float:left;">
  ProfeSearch
  </h2>
  <div id="filter-funnel" filter ng-click="restartFilter('filter-result')" show="filter-row">
    <i id="filter-result" class="ion-funnel"  ></i>
  </div>
  <div id="modal-black-background">
  </div>
  <div id="modal-black-background2">
  </div>
</div>
<div id="search-row" class="row">
  <div id="search-target" class="col" >
    <form search-animation-event class="search-bar-size" ng-submit="jsonProf(query)">
      <label class="item item-input search-bar-label" >
        <i class="icon ion-search placeholder-icon"></i>
        <input id="search" type="search" placeholder="Busca un professor" ng-model="query"/>
        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        <!-- <i id="blank-search" class="icon ion-close-circled" blank></i> -->
        </label>
      </form>
    
  </div>
  <div id="cancel-search">
    Cancel
  </div>
</div>
<div id="filter-row">
  <span >
    Filtrar Resultados
  </span>
  <select id="university-filter" class="dropdown-filter disabled" ng-model="university" ng-options="professor.university_name for professor in resultCopy | unique:'university_name' | orderBy:'university_name'" ng-change="updateProfessorList(university.university_name, 'university_name')" disable target="body">
    <option value="" selected > Todas las Universidades</option>
  </select>
  
  <select id="department-filter" class="dropdown-filter disabled" ng-model="department" ng-options="professor.department_name for professor in resultCopy | unique:'department_name' | orderBy:'department_name'" ng-change="updateProfessorList(department.department_name,'department_name')" disable target="body">
    <option value="" selected>Todos los Departamentos</option>
  </select>
  <div style="clear:both;">
    
  </div>
</div>