<div class="modal" style="background:none;" >
	<div  id="like-modal">
		<a class="social-media-like like-modal-social" href="#" social-group url="https://www.facebook.com/794415067320772" ><i class="ion-social-facebook"></i></a>
	    <a class="social-media-like like-modal-social" href="#" social-group url="twitter:///user?screen_name=ProfeSearch" alternative="https://twitter.com/ProfeSearch" ><i class="ion-social-twitter"></i></a>
	    <a class="social-media-like like-modal-social" href="#" social-group url="instagram://user?username=ProfeSearch" alternative="https://instagram.com/profesearch/"><i class="ion-social-instagram"></i></a>
	    <a class="social-media-like like-modal-social" href="#" social-group url="gplus://plus.google.com/+ProfesearchNinjaDownload" alternative="https://plus.google.com/103858598782851260428/posts"><i class="ion-social-googleplus"></i></a>
	    <a class="social-media-like like-modal-social" href="#" social-group url="pinterest://user/profesearch/" alternative="https://pinterest.com/profesearch/"><i class="ion-social-pinterest"></i></a>
	    <br>
	    <button id="like-close-button" ng-click="closeModal()">Cerrar</button>
    </div>
</div>

