<div id="header-custom" class="row" style="margin-bottom: 5px;">
  <div id="burger-container">
    <hamburger></hamburger>
  </div>
  <div id="search-target" class="col" style="height: 36px; padding-top: 9px; padding-bottom: 0px">
    <form class="search-bar-size" ng-submit="closeKeyBoard()">
      <label class="item item-input search-bar-label "  style="padding-left:12px !important; height:26px !important;">
        <i class="icon ion-search placeholder-icon"></i>
          <input id="search" type="search" placeholder="Buscar Universidad" ng-model="search"/>
          <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
        </label>
      </form>
  </div>
  <div id="cancel-search">
    Cancel
  </div>
    <div id="modal-black-background">
  </div>
  <div id="modal-black-background2">
  </div>
</div>