<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/sprite.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="profesorsCtrl">
     <div id="intro">
        <div id="intro-logo">
          <img id="intro-logo-img" src="img/ProfeSearchLogo.png" >
          <p id="intro-logo-text"> 
            ProfeSearch
          </p>
          <i id="intr-logo-text-arrow" class="ion-chevron-down"></i>
            <div class="row">
              <div id="intro-logo-search">
                <form ng-submit="jsonProf(query)" fade="submit" fade-duration="5000" fade-target="intro">
                <label id="intro-logo-label" class="item item-input">
                    <i id="intro-logo-search-icon" class="icon ion-search placeholder-icon"></i>
                    <input id="intro-logo-search-textfield" type="search" placeholder="Buscar un Profesor" value="" ng-model="query">
                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                  </form>
                </label>
              </div> 
            </div>
        </div>
      </div>
      
    <ion-pane>
      <ion-header-bar class="bar bar-stable" id="header-custom">
        <a id="header-container" onclick="window.open('https://notaso.com/', '_system', 'location=yes');">
          <center>
        <div> 
            <div  class="col col-50" id="header-image">
              <img id="header-logo" src="./img/notaso-logo.png">
            </img>
            </div> 
            <div class="col col-50" id="text-logo">
              ProfeSearch
            </div>  
        </div>
         </center>
        </a>
      </ion-header-bar>

      <ion-content  overflow-scroll="true">
        <div id="search-row" class="row">
          <div class="col" >
            <form ng-submit="jsonProf(query)" >
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="search" type="search" placeholder="Busca un Profesor" ng-model="query">

                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
              </form>
            </label>
          </div> 
        </div>

        <!--data-tap-disabled="true"-->
        <div id="loading-container" ng-show="loading">
          <center>
            <img src="img/loading.gif">
            </center>
        </div>

        <div id="prof-container" ng-show="createProf" class="animate-show">
            <center>
              <h3>
              El profesor que ha buscado no se encuentra.
              <br>Puede crearlo en
              <br>
              <h2 class="modal-no-comments-title">
              <a href="#" onclick="window.open('https://notaso.com/professors/create/', '_system', 'location=yes')">
                 Notaso
              </a>
              </h2>
            </h3>
            </center>
        </div>
        <ion-list>
        <div id="professor-container-list">
          <div class="list profesor-list animate-repeat" ng-repeat="profesor in profesors.results" ng-click="openModal(profesor.id)" ng-hide="loading" >
            <a class="item item-thumbnail-right">
              <div style="float:right;"  class="grade" ng-class="{'gradeAlrg': profesor.score <= 1 && profesor.score >= .90, gradeBlrg: profesor.score <= .899 && profesor.score >= .80,  gradeClrg: profesor.score >= .70  && profesor.score <= .799, gradeDlrg: profesor.score >= .60 && profesor.score <= .699, gradeFlrg: profesor.score <= .599 }">
              </div>
              <h2>
                {{profesor.first_name}} {{profesor.last_name}}
              </h2>
              <p>
                {{profesor.university_name}}
              </p>
              <p >
                <div class="department-label">
                  <span class="department-label-form">
                  {{profesor.department_name}}
                  </span>
                </div>
              </p>
            </a>
          </div>
        </div>
      </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
