                
    <!-- Splash Directive -->
    <!-- <splash-screen fade="submit" fade-duration="1" fade-target="intro"></splash-screen> -->
    <!-- End Splash Screen -->
    <ion-view>
      <ion-content  overflow-scroll="true">
      <ion-scroll delegate-handle="scroller" direction="y" style="width: inherit; height: inherit">
      <div id="header-custom" class="row">
        <div id="burger-container">
          <hamburger></hamburger>
        </div>
        <h1 id="text-logo" style="float:left;">
           ProfeSearch
        </h1>
        <div id="modal-black-background">
        </div>
      </div>
    </div>
       
        <div id="search-row" class="row">
          <div class="col" search-animation-event>
            <form ng-submit="jsonProf(query)" >
            <label class="item item-input search-bar-size" >
                <i class="icon ion-search placeholder-icon"></i>
                <input id="search" type="search" placeholder="Busca un professor" ng-model="query"/>
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                <!-- <i id="blank-search" class="icon ion-close-circled" blank></i> -->
              </form>
            </label>
          </div> 
          <div id="cancel-search" close>
            Cancel
          </div>
        </div>
        <div id="filter-row" class="row">
          <div class="col" >
           <i class="ion-funnel"></i>Busqueda Avanzada
          </div> 
        </div>

        <!--data-tap-disabled="true"-->
        

        <div id="prof-container" ng-show="createProf" class="animate-show">
            <center>
              <h3>
              El professor que ha buscado no se encuentra.
              <br>Puede crearlo en
              <br>
              <h2 class="modal-no-comments-title">
              <a href="#" onclick="window.open('https://notaso.com/professors/create/', '_system', 'location=yes')">
                 Notaso
              </a>
              </h2>
            </h3>
            </center>
        </div>
        
        <!-- professorsList Directive -->
        <professors-list></professors-list>
        <!-- End professorsList -->
        </ion-scroll>
      </ion-content>
</ion-view>

<div id="loading" ng-show="loading">
        <div id="loading-icon">
          <img id="loading-icon-img" src="img/loading.gif" >
        </div>
    </div>  