<ion-view title="Search">
<ion-header-bar class="bar bar-stable" id="header-custom">
        <a id="header-container" onclick="window.open('https://notaso.com/', '_system', 'location=yes');">
          <center>
        <div> 
            <div  class="col col-50" id="header-image">
              <img id="header-logo" src="./img/notaso-logo.png">
            </img>
            </div> 
            <div class="col col-50" id="text-logo">
              ProfeSearch
            </div>  
        </div>
         </center>
        </a>
      </ion-header-bar>

      <ion-content  overflow-scroll="true">

        <div id="search-row" class="row">
          <div class="col" >
            <form ng-submit="jsonProf(query)" >
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input id="search" type="search" placeholder="Busca un professor" ng-model="query">

                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
              </form>
            </label>
          </div> 
        </div>

        <!--data-tap-disabled="true"-->
        <div id="loading-container" ng-show="loading">
          <center>
            <img src="img/loading.gif">
            </center>
        </div>

        <div id="prof-container" ng-show="createProf" class="animate-show">
            <center>
              <h3>
              El professor que ha buscado no se encuentra.
              <br>Puede crearlo en
              <br>
              <h2 class="modal-no-comments-title">
              <a href="#" onclick="window.open('https://notaso.com/professors/create/', '_system', 'location=yes')">
                 Notaso
              </a>
              </h2>
            </h3>
            </center>
        </div>
        
        <!-- <professors> </professors> -->
      </ion-content>
</ion-view>