<!-- <ion-content has-subheader="false" overflow-scroll="true"> -->


  <ion-list >
  <!-- <ion-content overflow-scroll="true"> -->
      <ion-item class="list professor-list animate-repeat" ng-repeat="professor in professors.results"  ng-click="openModal(professor.id)">
        <a class="item item-thumbnail-right">
          <div style="float:right;"  class="grade" ng-class="{'gradeAlrg': professor.score <= 1 && professor.score >= .90, gradeBlrg: professor.score <= .899 && professor.score >= .80,  gradeClrg: professor.score >= .70  && professor.score <= .799, gradeDlrg: professor.score >= .60 && professor.score <= .699, gradeFlrg: professor.score <= .599 }">
          </div>
          <h2>
            {{professor.first_name}} {{professor.last_name}}
          </h2>
          <p>
            {{professor.university_name}}
          </p>
          <p >
            <div class="department-label">
              <span class="department-label-form">
                {{professor.department_name}}
              </span>
            </div>
          </p>
        </a>
      </ion-item>
      <div id="list-create-professor">
          <h3> ¿No existe tu profesor?
          <br>
          Crealo 
          <br>
          <a href="#" onclick="window.open('https://notaso.com/professors/create/', '_system', 'location=yes')">
              www.Notaso.com
          </a>
          </h3>
      </div>
       <!-- </ion-scroll> -->
      <!-- </ion-content> -->
  </ion-list>

<!-- </ion-content> -->