<div id="info">
		<center>
		<!-- <a  href="#" link url="https://www.facebook.com">
			<h1>Home</h1>
		</a> -->
		<!-- <h1>
			Buscar Por Universidad
		</h1> -->
		
		<a  class="no-decoration" href="#" link url="https://www.facebook.com">
			<h1>Like & Follow</h1>
		</a>
		<a  class="no-decoration" href="#" link url="https://www.twitter.com">
			<h1>Share App</h1>
		</a>
		<!-- <a rate-app href="#">
			<h1>
				Review App
			</h1>
		</a> -->
		<!-- <h1>Rate App</h1> -->
		<about></about>
		</center>
</div>