<div class="modal" style="background:none;">
	<div  id="share-modal">
		<h2 style="color:white; margin-top:5px;">Share</h2>
		<a class="social-media-like like-modal-social" href="#" ng-click="shareViaFacebook()"><i class="ion-social-facebook"></i></a>
	    <a class="social-media-like like-modal-social" href="#" ng-click="shareViaTwitter()" ><i class="ion-social-twitter"></i></a>
	    <!-- <a class="social-media-like like-modal-social" href="#" ng-click="shareViaWhatsApp()"><i class="ion-social-whatsapp"></i></a> -->
	    <a class="social-media-like like-modal-social" href="#" ng-click="shareViaSMS()"><i class="ion-android-textsms"></i></a>
	    <a class="social-media-like like-modal-social" href="#" ng-click="shareViaEmail()"><i class="ion-email"></i></a>
	    <a class="social-media-like like-modal-social" href="#" ng-click="shareAnywhere()"><i class="ion-android-share-alt"></i></a>

	    <br>
	    <button id="like-close-button" ng-click="closeModal()">Cerrar</button>
    </div>
</div>

