  <div id="intro">
    <div id="intro-logo">
      <img id="intro-logo-img" src="img/ProfeSearchLogo.png" >
      <p id="intro-logo-text"> 
        ProfeSearch
      </p>
      <i id="intr-logo-text-arrow" class="ion-chevron-down"></i>
        <div class="row">
          <div id="intro-logo-search">
            <form ng-submit="jsonProf(query)">
            <label id="intro-logo-label" class="item item-input">
                <i id="intro-logo-search-icon" class="icon ion-search placeholder-icon"></i>
                <input id="intro-logo-search-textfield" type="search" placeholder="Buscar un professor" value="" ng-model="query" />
                <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
              </form>
            </label>
          </div> 
        </div>
    </div>
    <div id="made-with-love">
      <h4>Made with 
        <i id="hearth" class="ion-heart"></i> in P.R.
      </h4>
    </div>
  </div>
  </div>