  <div id="intro">
    <h3 style="display:inline-block; margin-left: 10px; margin-top: 10px; color:white;" ng-show="about" ng-click="closeModal()">
      Back    
    </h3>
    <div id="intro-logo" >
      <img id="intro-logo-img" src="img/ProfeSearchLogo.png" >
      <p id="intro-logo-text" ng-hide="about"> 
        ProfeSearch
      </p>
      <div ng-show="about">
      <br>
        <h3 style="color:white; font-weight: normal;">
          Versión 0.5
        </h3>
        <br>
        <h3 style="color:white;">
          Click para Like & Follow
          <br>
          <a class="social-media-like" href="#" social-group url="https://www.facebook.com/794415067320772" ><i class="ion-social-facebook"></i></a>
          <a class="social-media-like" href="#" social-group url="twitter:///user?screen_name=ProfeSearch" alternative="https://twitter.com/ProfeSearch" ><i class="ion-social-twitter"></i></a>
          <a class="social-media-like" href="#" social-group url="instagram://user?username=ProfeSearch" alternative="https://instagram.com/profesearch/"><i class="ion-social-instagram"></i></a>
          <a class="social-media-like" href="#" social-group url="gplus://plus.google.com/+ProfesearchNinjaDownload" alternative="https://plus.google.com/103858598782851260428/posts"><i class="ion-social-googleplus"></i></a>
          <a class="social-media-like" href="#" social-group url="pinterest://user/profesearch/" alternative="https://pinterest.com/profesearch/"><i class="ion-social-pinterest"></i></a>
        </h3>
      </div>
      <div ng-hide="about">
            <i id="intr-logo-text-arrow" class="ion-chevron-down"></i>
              <div class="row">
                <div id="intro-logo-search">
                  <form ng-submit="jsonProf(query)">
                  <label id="intro-logo-label" class="item item-input">
                      <i id="intro-logo-search-icon" class="icon ion-search placeholder-icon"></i>
                      <input id="intro-logo-search-textfield" type="search" placeholder="Buscar un professor" value="" ng-model="query" />
                      <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                    </form>
                  </label>
                </div> 
              </div>
          </div>

        </div>

    <div id="made-with-love">
      <h4>Made with 
        <i id="hearth" class="ion-heart"></i> in P.R.
      </h4>
    </div>
  </div>
  </div>