/* Empty. Add your own CSS if you like */

#header-custom
{
	background-color:#f8f8f8; 
	border-color:#e7e7e7;
}

#search
{
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;

}

#logo
{
	padding: 5px;
}

#search-row
{
	color: #fff;
text-align: center;
background-color: #0B4F84;
border-top: 1px solid #134C75;
border-bottom: 1px solid #134C75;
}

#profesor-list{
	height: 60px;
}

#profesor-list>a
{
	padding-top: 8px; 
	padding-bottom: 8px; 
 	padding-right: 10px; 
 	min-height: 0px; 
}

.department-label{
	display: inline;
	background-color:#d9534f;
}

.department-label-form
{
	padding: .2em .6em .3em;
	font-size: 85%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.grade{
	margin-top:15px;
}

#loading-container img{
	display:block;
	margin: 40% auto;
}

#title-modal{
	background-color:#0B4F85;

}

#title-modal>h1
{
	color:white;
}