/* Empty. Add your own CSS if you like */

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#header-custom
{
	background-color:#f8f8f8; 
	border-color:#e7e7e7;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#text-logo
{
	font-size: 1.4em;
	float:left;
	padding:0;
}


#header-text-size
{
	font-size:.8em;
	float:left;
}

#header-image
{
	float:left;
}

#search
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

#logo
{
	padding: 5px;
}

#search-row
{
	color: #fff;
text-align: center;
background-color: #0B4F84;
border-top: 1px solid #134C75;
border-bottom: 1px solid #134C75;
}

#profesor-list{
	height: 60px;
}

#profesor-list>a
{
	padding-top: 8px; 
	padding-bottom: 8px; 
 	padding-right: 10px; 
 	min-height: 0px; 
}

.department-label{
	display: inline;
	background-color:#d9534f;
}

.department-label-form
{
	padding: .2em .6em .3em;
	font-size: 85%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.department-label-detail
{
	font-size: 1.5em !important;
}

.grade{
	margin-top:15px;
}

#loading-container img{
	display:block;
	margin: 0 auto;
	margin-top: 10%;
}


/*Profesor modal*/

#title-modal{
	background-color:#0B4F85;
}

#title-modal h1
{
	color:white;
}

#title-modal h4
{
	color:white;
}

.modal-size
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#info-container
{
	margin-left: 2%;
}

.list-comment-body
{
	overflow: none !important;
	text-overflow: none !important;
	white-space: normal !important;
	font-size: 0.9em !important;
}

.list-comment
{
	margin-bottom: 0;
	padding-bottom: 0;
}
.professor-grade
{
	margin: 20px 0;
	font-size: 2.5em;
}
.professor-percent{
	font-size: 1.6em;
}

.professor-promedip{
	padding-bottom:0;
}

#table-detail tr td
{
	text-align: center;
	padding: 10px;
	font-size:1.2em;
	border: 1px dotted rgba(100,100,100,0.2);
}

#table-detail tr td div
{
	margin: 0 auto;
}

#footer-text-size
{
	font-size: 1.7em;
	color: black;
	display: inline-block;
	float:left;
	widows: 50%;
}

#footer-image
{
	float:left;
	margin-top:10px;
	width: 50%;
}

#footer-logo
{
	margin-top:0;
	width: 120px;
	height:30px;
}

#footer-custom{
	background-color:#f8f8f8; 
	border-color:#e7e7e7;
	border-top: 1px solid rgba(0,0,0,0.1);
}

.list-comment:active{
background-color:none !important;
};