/* Empty. Add your own CSS if you like */

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#intro
{
	position: absolute;
	top: 0;
	left: 0;
	background: #0B4F84;
	z-index: 999;
	width: 100%;
	height: 100%;
}

#intro-logo
{
	position: relative;
	top: 10%;
	color:white;
	font-size: 2.5em;
	width: 100%;
	text-align: center;
    background-color: inherit;

}

#intro-logo-label
{
	padding-left: 6px;
	font-size: 10px;
}
#intro-logo-text{
	margin-top: 5px;
}

#intro-logo-img
{
	width: 50%;
	max-width: 360px;
}

#intro-logo-search
{
	margin: 0 auto; 
	width: 54%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#intro-logo-search-icon{
	margin-left: 0;
}
#intro-logo-search-textfield
{
	margin-left: 5px;
	float:right;
}


#header-custom
{
	background-color:#f8f8f8; 
	border-color:#e7e7e7;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-top: 0px;
}

#header-container
{
	margin:0 auto;
}

#text-logo
{
	font-size: 1.8em;
	float:left;
	color:black;
	padding:0;
	padding-top: 15px;
	padding-left:10px;
}


#header-text-size
{
	font-size:.8em;
	float:left;
}

#header-image
{
	float:left;
}

#header-logo
{
	margin-top:0;
	width: 150px;
	height:35px;
}

#search
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;

}

#logo
{
	padding: 5px;
}

#search-row
{
	color: #fff;
	text-align: center;
	background-color: #0B4F84;
	border-top: 1px solid #134C75;
	border-bottom: 1px solid #134C75;
}

.profesor-list{
	height: 60px;
}

.profesor-list>a
{
	padding-top: 8px; 
	padding-bottom: 8px; 
 	padding-right: 10px; 
 	min-height: 0px; 
}

.department-label{
	display: inline;
	background-color:#d9534f;
}

.department-label-form
{
	padding: .2em .6em .3em;
	font-size: 85%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.department-label-detail
{
	font-size: 1.5em !important;
}

.grade{
	margin-top:15px;
}


#loading-container img{
	position:relative;
	top:30%;
	margin-top:10%;

}

#prof-container
{
	margin-top: 20px;
}


/*Profesor modal*/

#title-modal{
	background-color:#0B4F85;
}

#title-modal h1
{
	color:white;
}

#title-modal h4
{
	color: rgba(255,255,255,0.9);
}

.modal-size
{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#info-container
{
	margin-left: 2%;
}

.list-comment-body
{
	overflow: none !important;
	text-overflow: none !important;
	white-space: normal !important;
	font-size: 0.9em !important;
}

.list-comment
{
	margin-bottom: 0;
	padding-bottom: 0;
}
.professor-grade
{
	margin: 20px 0;
	font-size: 2.5em;
}
.professor-percent{
	font-size: 1.6em;
}

.professor-promedio{
	padding-bottom:0;
}

#table-detail tr td
{
	text-align: center;
	padding: 10px;
	font-size:1.2em;
	border: 1px dotted rgba(100,100,100,0.2);
}

#table-detail tr td div
{
	margin: 0 auto;
}

#footer-text-size
{
	font-size: 1.7em;
	color: black;
	display: inline-block;
	float:left;
	widows: 50%;
}

#footer-image
{
	float:left;
	margin-top:10px;
	width: 50%;
}

#footer-logo
{
	margin-top:0;
	width: 120px;
	height:30px;
}

#footer-custom{
	background-color:#f8f8f8; 
	border-color:#e7e7e7;
	border-top: 1px solid rgba(0,0,0,0.1) !important;
}

.list-comment:active{
	background-color:none !important;
}

#modal-no-comments
{
	border-top:1px solid rgba(0,0,0,0.1);
	padding-top: 10px;
	margin-bottom: 0px !important;

}

#modal-no-comments-title
{
	margin-top: 0px !important;
}
.view-slide-in.ng-enter {
  transition: all 1s ease;
  -webkit-transition:all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
   
  opacity:0.5;
  position:relative;
  opacity:0;
  top:10px;
  left:20px;
}

.view-slide-in.ng-enter {
  opacity: 0;
}
.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}
.view-slide-in.ng-leave.ng-leave-active{
  top:5px;
  left:5px;
  opacity:1;
}
.view-slide-in.ng-leave{
  top:0;
  left:0;
  opacity:0;
}

.animate-repeat {
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave
 {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}



.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	margin-right: 300px;
    opacity:0;
}


.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	margin-right: 0;
    opacity:1;

}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move.ng-move-active{
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active{
    opacity:1;
}


.animate-repeat.ng-leave-stagger {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.animate-repeat.ng-enter-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


.animate-show {
  opacity: 1;
  height: inherit;
  background: white;
}

.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}
.animate-show.ng-hide-add.ng-hide-add-active{
	-webkit-transition: all linear 0.1s;
  transition: all linear 0.1s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  height: 0;
}